# SQL Interview Questions  - Quiz


## Introduction

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

What are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The four main datatypes in SQLite3 are TEXT, INTEGER, REAL, and BLOB. We can technically use other common types such as int but SQLite3 will turn this back into an INTEGER for us. 




## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Primary Keys are the index columns for a given table. A Foreign Key is the Primary Key for a different table in the database than where the Foreign Key resides. You can join two tables together by setting the Primary Key for column A from Table A equal to its Foreign Key in column A of Table B. 




## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
There are 3 different types of relationships that entities can have in a SQL database: one-to-one, one-to-many, and many-to-many. 

A one-to-one relationship means that each row in Table A relates to only one row in Table B and that each row in Table B relates to only one row in Table A.

A one-to-many relationship means that a row in Table A might relate to zero, one, or many rows in Table B and that many rows in Table B may relate to a row in Table A. 

A many-to-many relationship means that many rows in Table A relate to many rows in Table B. 



## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Corresponding with the answer to question 3:

A one-to-one join joins two tables together where the one-to-one relationship exists. Generally this is helpful if you have a table of employees (with columns employeeId, and other columns related to employee personal information) joining a table called payroll (with columns employeeId and salary). You would join these two tables on the column employeeId. Now your new table gives you your employee information as well as their pay. 

A one-to-many join is very helpful in the area of eCommerce. If a customer places an order with multiple items, this join can match the customer information from our customers table with each order they placed from our orderDetails table. 

Using a many-to-many join is usually not very helpful. without other aggregations. If you join a table called restaurants with a table called offices and you have two offices in a city but 513 restaurants you would have 1026 rows afterwards. Sometimes, however, this sort of join is necessary. We may want to join our orders and products tables together. This would constitute a many-to-many join as many orders may have multiple products and many products may be in multiple orders. 


## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
GROUP BY statements arrange our data into groups. We can then use aggregate functions to give us summary information about those groups using functions such as count, min, max, average, and sum. 


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
The Associative Entity is the resulting table from a many-to-many JOIN. An associative attribute is a column that can exist in the resulting table that would not be originally found in either table. This column would be combining information from each individual table. This can be something like num_customers_working_with_sally when combining 


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.